<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div id="app">
  <!-- 
    值绑定
    :value="item"
  -->
   <!-- 标签内属性动态绑定 v-bind 语法糖 : -->
  <label  v-for="item in originHobbies" :for="item">  <!-- 标签内属性动态绑定 v-bind 语法糖 : -->
    <!-- label的for属性和input的id属性相同  id要唯一 -->
    <input type="checkbox"  :value="item" :id="item" v-model="hobbies">{{item}} 
  </label>
  
  <h2>您的爱好是:{{hobbies}}</h2>
</div>    
<script src="../js/vue.js"></script>    
<script>
    const app =new Vue({
        el:"#app",
        data:{
            isAgree:false, // 单选框 bool
            hobbies:[], // 多选框 []
            originHobbies:['篮球','足球','乒乓球','羽毛球','台球','高尔夫球']
        },

    })
</script>
</body>
</html>